# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

\.vscode/

*.code-workspace

out
cluster/*
kubernetes/*
config/*
etc/ssl/*

bin/**/*.defs

*.log

images/
